@model HastaneRandevuSistemi.Models.Poliklinik

<div>
    <h1>DeleteConfirmed</h1>
    <h2>Successfully deleted Poliklinik: @Model.Adi</h2>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
